.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.modal {
  width: 750px;
  background: #111;
  color: #fff;
  border-radius: 10px;
  margin: 50px auto;
  overflow: hidden;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
  cursor: pointer;
}

.modal-img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.modal-content {
  padding: 25px;
}

.tags span {
  background: #333;
  padding: 5px 10px;
  margin-right: 8px;
  font-size: 13px;
}
